--
-- PostgreSQL database dump
--

\restrict uuyPaBBSw8pprBuWbSHwiIK9MOooUVL6QGGXNkCDov292WqIeMP8GUqgOSyr4DV

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: log_user_login(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.log_user_login() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO ''
    AS $$

BEGIN

    -- Only log if the last_sign_in_at timestamp actually changed

    IF (OLD.last_sign_in_at IS DISTINCT FROM NEW.last_sign_in_at AND NEW.last_sign_in_at IS NOT NULL) THEN

        -- ÔÜá´©Å CRITICAL: The target table MUST be explicitly prefixed with "public."

        INSERT INTO public.login_history (user_id, login_at, user_agent, ip_address)

        VALUES (

            NEW.id,

            NEW.last_sign_in_at,

            coalesce(current_setting('request.headers', true)::jsonb->>'user-agent', 'Unknown'),

            coalesce(current_setting('request.headers', true)::jsonb->>'x-forwarded-for', 'Unknown')

        );

    END IF;

    RETURN NEW;

END;

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: asset_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asset_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid DEFAULT auth.uid() NOT NULL,
    name text NOT NULL,
    requires_iban boolean DEFAULT false NOT NULL,
    requires_ticker boolean DEFAULT false NOT NULL,
    requires_isin boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


--
-- Name: asset_valuations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asset_valuations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid DEFAULT auth.uid() NOT NULL,
    asset_id uuid NOT NULL,
    valuation_date date NOT NULL,
    balance_amount numeric(12,2) NOT NULL,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


--
-- Name: login_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.login_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    login_at timestamp with time zone NOT NULL,
    user_agent text,
    ip_address text
);


--
-- Name: portfolio_assets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.portfolio_assets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid DEFAULT auth.uid() NOT NULL,
    type_id uuid NOT NULL,
    name text NOT NULL,
    institution text NOT NULL,
    login_url text,
    comments text,
    iban text,
    isin text,
    ticker text,
    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);


--
-- Name: asset_types asset_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_types
    ADD CONSTRAINT asset_types_pkey PRIMARY KEY (id);


--
-- Name: asset_valuations asset_valuations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_valuations
    ADD CONSTRAINT asset_valuations_pkey PRIMARY KEY (id);


--
-- Name: login_history login_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.login_history
    ADD CONSTRAINT login_history_pkey PRIMARY KEY (id);


--
-- Name: portfolio_assets portfolio_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_assets
    ADD CONSTRAINT portfolio_assets_pkey PRIMARY KEY (id);


--
-- Name: asset_valuations unique_asset_per_date; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_valuations
    ADD CONSTRAINT unique_asset_per_date UNIQUE (asset_id, valuation_date);


--
-- Name: asset_types unique_user_asset_type; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_types
    ADD CONSTRAINT unique_user_asset_type UNIQUE (user_id, name);


--
-- Name: asset_types asset_types_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_types
    ADD CONSTRAINT asset_types_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id);


--
-- Name: asset_valuations asset_valuations_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_valuations
    ADD CONSTRAINT asset_valuations_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.portfolio_assets(id) ON DELETE RESTRICT;


--
-- Name: asset_valuations asset_valuations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asset_valuations
    ADD CONSTRAINT asset_valuations_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id);


--
-- Name: login_history login_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.login_history
    ADD CONSTRAINT login_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: portfolio_assets portfolio_assets_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_assets
    ADD CONSTRAINT portfolio_assets_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.asset_types(id) ON DELETE RESTRICT;


--
-- Name: portfolio_assets portfolio_assets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.portfolio_assets
    ADD CONSTRAINT portfolio_assets_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id);


--
-- Name: asset_types Users can manage their own asset types; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own asset types" ON public.asset_types TO authenticated USING ((auth.uid() = user_id)) WITH CHECK ((auth.uid() = user_id));


--
-- Name: portfolio_assets Users can manage their own assets; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own assets" ON public.portfolio_assets TO authenticated USING ((auth.uid() = user_id)) WITH CHECK ((auth.uid() = user_id));


--
-- Name: asset_valuations Users can manage their own valuations; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can manage their own valuations" ON public.asset_valuations TO authenticated USING ((auth.uid() = user_id)) WITH CHECK ((auth.uid() = user_id));


--
-- Name: asset_types Users can only view their own assets; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can only view their own assets" ON public.asset_types FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: portfolio_assets Users can only view their own assets; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can only view their own assets" ON public.portfolio_assets FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: asset_valuations Users can only view their own valuations; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can only view their own valuations" ON public.asset_valuations FOR SELECT USING ((asset_id IN ( SELECT portfolio_assets.id
   FROM public.portfolio_assets
  WHERE (portfolio_assets.user_id = auth.uid()))));


--
-- Name: login_history Users can view their own login history; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Users can view their own login history" ON public.login_history FOR SELECT TO authenticated USING ((auth.uid() = user_id));


--
-- Name: asset_types; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.asset_types ENABLE ROW LEVEL SECURITY;

--
-- Name: asset_valuations; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.asset_valuations ENABLE ROW LEVEL SECURITY;

--
-- Name: login_history; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.login_history ENABLE ROW LEVEL SECURITY;

--
-- Name: portfolio_assets; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.portfolio_assets ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict uuyPaBBSw8pprBuWbSHwiIK9MOooUVL6QGGXNkCDov292WqIeMP8GUqgOSyr4DV

